html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}
body {
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('8728.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

h1 {
    color: white;
}
.navbar {
overflow: hidden;
position: sticky;
top: 0;
width: 100%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.top-nav {
    display: block;
    margin-bottom: 5%;
}

.top-nav ul {
    margin: 0;
    margin-right: 4%;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 28px;
}

.top-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.top-nav ul li a:hover {
    color: #afafaf;
    transition: 0.15s ease-in;
}

.wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 40%;
}

.wrapper-landing h1 {
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    font-weight: 100;
}

.wrapper-landing h2 {
    font-size: 42px;
    color: #f2f2f2;
    opacity: 0.6;
    margin: 0;
    font-weight: 100;
}

.btn-login {
    border: 1px solid #ffffff;
    padding: 6px 24px;
}

.navbar {
    width: 100%;
    height: 70px;
    z-index: 1;
}

.container-login {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 14px;
}

.wrapper-login h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    justify-content: center;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a {
    color: #006400;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: #ff0000;
    display: block;
}
table {
    width: 80%;
    
    margin-left: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
}
.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
 
}

th, td {
    border-bottom: 3px solid #d45757;
    padding: 10px 20px;
    font-size: 30px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: transparent;

   }

tr:nth-child(odd) {
    background-color: transparent
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.map {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 35%;
    width: 100%;
    color: white;
    text-align: center;
    display: inline-flex;
    font-size: xx-large;
}

.dashboardText {
    text-align: center;
    margin-top: 15%;
    font-size: 80px;
    color: rgb(250, 50, 15);
}

.dashboardText:hover {
    color: rgb(194, 29, 0);
    transition: 0.15s ease-in;
    font-size: 88px;
}